 
<div class="addContainer">
    <div mat-dialog-content>
        <div class="register-form m-4">
            <div class="row">
                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                    <img src="assets/images/pages/tick-mark-green.webp"  >
                    <h2>Changed!</h2>
                      <p class="text-center">Your password changed successfully.</p> 
                      <button  mat-raised-button  class="ok-btn">OK</button>
                 </div>   
             </div>    
        </div>
    </div>
</div>