 
   
    h2{
        margin-top: 22px !important;
    }
    p{
        font-weight: normal;
        margin-top: 12px;
        font-size: 14px;
        color: #282a2b !important;
    }
    .ok-btn{ 
        background-color: #005a97;
        color: #fff;
    }
   .addContainer{
       text-align: center;
   }
