.left-img{
    background-color: #e9f7f6;
}
.register-bottom{
   padding-top: 20px ;
}
.mat-flat-button.mat-primary{
    background-color: #005a97;
}

.mat-flat-button.mat-primary.mat-button-disabled{
    background-color: rgba(0,0,0,.12);
}

::ng-deep  .mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #005a97;
  }
  ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #005a97;
  }
  
  ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #005a97;
  }
  .step{
      float: right;
      font-size: 18px;
      font-weight: 500;
      color:#666666 !important;
    }
  .radio-btn{
      margin-left: 23px;
  }

  .gender-lable{
    font-family: RobotoSlab;
    font-size: 13px;
    font-weight: normal;
  }

  .radio-grp-row{
      margin-bottom: 14px !important;
  }

  .text-muted{
    font-size: 18px;
    font-weight: 500;
  color:#666666 !important;
  }
  .form-check-input {
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
    margin: 0;
    z-index: -1;
    left: 0;
    pointer-events: none;

    &:checked+.form-check-sign {
      &:before {
        animation: rippleOn 0.5s;
      }

      .check {
        background: #005a97;

        &:before {
          color: #ffffff;
      
          animation: checkboxOn 0.3s forwards;
        }
      }
    }
  }
  a {
    color: #005a97;
  }

  .auth-form-btn{
    background-color: #005a97 !important;
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 500;
  }