<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <!-- <div class="left-img" style="background-image: url(assets/images/pages/bg-02.png);"> -->
        <div class="left-img" style="background-image: url(assets/images/pages/main.jpg);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> Sign Up </h2>
          <p class="auth-signup-text text-muted">Please fill your details 
             <span class="step"> Step 1 / 2</span></p> 
         
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Salutation </mat-label>
                  <mat-select formControlName="salutation" [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let sal of salutation" [value]="sal">
                      {{sal}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="authForm.get('salutation').hasError('required')">
                    You must make a selection
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>First Name </mat-label>
                  <input matInput formControlName="username" required>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="authForm.get('username').hasError('required')">
                    First Name is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="username" required>
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error *ngIf="authForm.get('username').hasError('required')">
                    Last Name is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Phone Number</mat-label>
                  <input matInput formControlName="username" required>
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-error *ngIf="authForm.get('username').hasError('required')">
                    Please enter a valid Phone Number  
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" required>
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error *ngIf="authForm.get('email').hasError('required') || authForm.get('email').touched">
                    Please enter a valid email address
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row radio-grp-row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">

              <mat-label class="gender-lable"> Gender:</mat-label>
                <mat-radio-group class="radio-btn" aria-label="Select an option">
                  <mat-radio-button value="1">Male</mat-radio-button>
                  <mat-radio-button value="2"> Female</mat-radio-button>
                </mat-radio-group>
            </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>License Number</mat-label>
                  <input matInput formControlName="username" required>
                  <mat-icon matSuffix>assignment_ind</mat-icon>
                  <mat-error *ngIf="authForm.get('username').hasError('required')">
                    Please enter a valid License Number  
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Physician Identification Number</mat-label>
                  <input matInput formControlName="username" required>
                  <mat-icon matSuffix>assignment_ind</mat-icon>
                  <mat-error *ngIf="authForm.get('username').hasError('required')">
                    Please enter a valid Physician Identification Number
                  </mat-error>
                </mat-form-field>
              </div>
            </div>


            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>State </mat-label>
                  <mat-select formControlName="position" [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let state of state" [value]="state">
                      {{state}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="authForm.get('state').hasError('required')">
                    You must make a selection
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>City </mat-label>
                  <mat-select formControlName="city" [errorStateMatcher]="matcher">
                    <mat-option *ngFor="let city of city" [value]="city">
                      {{city}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="authForm.get('city').hasError('required')">
                    You must make a selection
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

        


            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="authForm.get('password').hasError('required')">
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput formControlName="cpassword" [type]="chide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="chide = !chide">
                    {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="authForm.get('cpassword').hasError('required')">
                    Confirm Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
           

            <div class="d-flex justify-content-between align-items-center mb-5">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value=""> By clicking continue, you agree to our
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                  <a routerLink="/authentication/signin">
                    Terms of Service
                    </a> and our <a routerLink="/authentication/signin"> Privacy Policy</a>
                </label>
              </div>
             
            </div>
           
            
            <div class="container-auth-form-btn">
              <button mat-flat-button  color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                Verify Email Address
              </button>
            </div>

            <div class="flex-sb-m w-full  p-b-20 register-bottom">
              <div>
                <span>Already Registered? <a routerLink="/authentication/signin">
                    Login
                  </a></span>
              </div>
            </div>

          </form>

          
        </div>
      </div>
    </div>

  </div>
</div>
