.mat-flat-button.mat-primary{
    background-color: #005a97;
}

.mat-flat-button.mat-primary.mat-button-disabled{
    background-color: rgba(0,0,0,.12);
}

.form-section{
    height: 76%;
}

.error-subheader2{
 font-size: 14px;
}