<nav #navbar class="navbar active">
 
  <div class="container-fluid">
   
    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
      <ul class="pull-left collapse-menu-icon">
        <li>
          <img src="assets/images/pages/full-logo.png" />
        </li>
      </ul>

      <ul class="pull-left collapse-menu-icon home-menu-padding">
        <li class="breadcrumb-item bcrumb-1">
          
          <a style="color: #242634;" routerLink="/admin/dashboard/main"> <i class="fas fa-home"><span class="header-menu"> Home </span> </i>   </a>
        </li>
      </ul>


      <ul class="pull-left collapse-menu-icon home-menu-padding">
        <li class="breadcrumb-item bcrumb-1">          
            <i class="fas fa-home"><span class="header-menu" > Appointments </span> </i>  
        </li>        
      </ul>


      <ul class="pull-left collapse-menu-icon home-menu-padding">
        <li class="breadcrumb-item bcrumb-1">          
           <i class="fa fa-envelope"><span class="header-menu"> Inquiry   </span> </i>   
    </li>
      </ul>


       


      <ul class="nav navbar-nav navbar-right">
        <!-- Full Screen Button -->
        
        <!-- #END# Full Screen Button -->
        <!-- #START# Notifications-->
        <li class="nav-item" ngbDropdown>
          <button mat-icon-button ngbDropdownToggle class="nav-notification-icons">
            <mat-icon>notifications_active</mat-icon>
            <span class="label-count bg-red"></span>
          </button>
          <div ngbDropdownMenu class="notification-dropdown pullDown">
            <div class="noti-list" style="position: relative; max-width: 600px; max-height: 250px;" [perfectScrollbar]>
              <ul class="menu">
                <li>
                  <a href="#" *ngFor="let notification of notifications" onClick="return false;">
                    <span class="table-img msg-user">
                      <img src="{{notification.userImg}}" alt="">
                    </span>
                    <span class="menu-info">
                      <span class="menu-title">{{notification.userName}}</span>
                      <span class="menu-desc">
                        <i class="material-icons">access_time</i> {{notification.time}}
                      </span>
                      <span class="menu-desc">{{notification.message}}</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
            <a class="text-center d-block border-top py-1">Read
              All Notifications</a>
          </div>
        </li>
        <li>
          <span class="font-14">Ella John</span>
        </li>
        <!-- #END# Notifications-->
        <li class="nav-item user_profile" ngbDropdown>
          <a href="#" onClick="return false;" ngbDropdownToggle role="button" class="nav-notification-icons pt-0">
            <span class="dot"> EJ</span>
          </a>
          <div ngbDropdownMenu class="notification-dropdown pullDown">
            <div class="noti-list" style="position: relative; max-width: 600px; max-height: 300px;" [perfectScrollbar]>
              <ul class="menu">
                <li class="body">
                  <ul class="user_dw_menu">
                    <li>
                      <a href="#" onClick="return false;">
                        <mat-icon aria-hidden="false" class="mr-2">person</mat-icon>Profile
                      </a>
                    </li>
                    <li class="managment">
                      <a href="#" onClick="return false;">
                        <mat-icon aria-hidden="false" class="mr-2">insert_invitation</mat-icon>Scheduler Management
                      </a>
                    </li>
                    
                    <li>
                      <a href="javascript:void(0);" (click)="logout()">
                        <mat-icon aria-hidden="false" class="mr-2">logout</mat-icon>Logout
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
