::ng-deep .mat-dialog-title{
    font-size: 18px;
    font-weight: 500;
    color: #242634;
}

::ng-deep .mat-flat-button{
    font-weight: 500;
}

::ng-deep .mat-snack-bar-container{
    background-color: #f44336 !important;
}