.change-pwd-btn{
    background-color: #005a97;
    color: #fff;
    }
    ::ng-deep .mat-dialog-container{
        width: 561px !important;
    }
    .font-weight-bold{
        font-weight: 500 !important;
    }
    .modalHeader{
        padding: 0px 10px 0px 6px !important;
    }