<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class=" breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Home ></h4>
            </li>
         
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <div class="row align-items-center">
              <div class="col-md-4">
                <img src="assets/images/pages/welcome.png" alt="" class="w-100">
              </div>
              <div class="col-md-8">
                <h4 class="font-20 weight-500 mb-2">
                  Welcome  <div class="weight-600 font-30 pt-1 dr-name">Dr. Ella John!</div>
                </h4>

                <h5>We're super excited to have you on board.</h5>
                <p class="font-18 max-width-600">Let's start building your weekly schedule Patients will check your schedule and select the available slots to book an appointment.</p>
                
                

                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button class="mr-3 start-btn"  mat-raised-button
                      color="primary">Let's Start</button>
                    <button type="button"  class="skip-btn" mat-button>Skip</button>
                  </div>
                </div>


              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
