<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Profile</h4>
              </li>
              <li class="breadcrumb-item bcrumb-1">
                <a routerLink="/admin/dashboard/main">
                  <i class="fas fa-home"></i> </a>
              </li>
             
            </ul>
          </div>
        </div>
      </div>
      </div>

      <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
          <div class="card">
            <div class="m-b-20">
              <div class="contact-grid">
                <div class="profile-header bg-profile">
                  <div class="user-name">Ella John</div> 
                </div>
                <img src="assets/images/user/usrbig5.jpg" class="user-img" alt="">
                <p>
                  <mat-icon> email</mat-icon> johnlorem1234@ipsumdummylorem.com
                   
                </p>
                <div>
                  <span class="phone">
                    <i class="material-icons">phone</i>264-625-2583</span>
                </div>
                <div class="password">
                  <span class="phone">
                    <i class="material-icons">lock</i>Change password</span>
                </div>

                
              </div>
            </div>
          </div>
          </div>

          <div class="col-lg-8 col-md-12">
            <div class="card">
              <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="example-tab-icon mr-2">face</mat-icon>
                        Personal Info
                      </ng-template>

                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="project_widget">
                          <div class="header">
                            <h2><strong>Personal</strong></h2>
                          </div>
                          <div class="body">
                            <div class="row">
                              <div class="col-md-3 col-6 b-r">
                                <strong>Full Name</strong>
                                <br>
                                <p class="text-muted">Jayna Patil</p>
                              </div>
                             
                              <div class="col-md-3 col-6 b-r">
                                <strong>Gender</strong>
                                <br>
                                <p class="text-muted">Female</p>
                              </div>
                              <div class="col-md-3 col-6">
                                <strong>Date of Birth</strong>
                                <br>
                                <p class="text-muted">04/19/1990</p>
                              </div>
                              <div class="col-md-3 col-6 b-r">
                                <strong>Phone Number</strong>
                                <br>
                                <p class="text-muted">(123) 456 7890</p>
                              </div> 
                             
                            </div>
                             
                            <div class="row">
                              <div class="col-md-6 col-6 b-r">
                                <strong>Email</strong>
                                <br>
                                <p class="text-muted">johnlorem1234@ipsumdummylorem.com</p>
                              </div>
                              <div class="col-md-3 col-6 b-r">
                                <strong>Fax Number</strong>
                                <br>
                                <p class="text-muted">-</p>
                              </div>
                              <div class="col-md-3 col-6 b-r">
                                <strong>PIN Number</strong>
                                <br>
                                <p class="text-muted">-</p>
                              </div>         
                            </div>
                            <hr>

                            <div class="row license-row">
                              <div class="col-md-6 col-6 b-r">
                                <strong>License Number</strong>
                                <br>
                                <p class="text-muted">22567886787</p>
                              </div>
                         
                              <div class="col-md-3 col-6 b-r">
                                <strong>State of operation</strong>
                                <br>
                                <p class="text-muted">New York</p>
                              </div>
                            
                             
                            </div>
                            

                          </div>
                          </div>
                          </div>

                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="project_widget">
                              <div class="header abt-header">
                                <h2><strong>About</strong></h2>
                              </div>
                              <div class="body abt-body">
                                <p class="m-t-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                                  text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 
                                  survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in 
                                  the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
                              </div>
                            </div>
                          </div>

                    </mat-tab>

                 <mat-tab>
                        <ng-template mat-tab-label>
                          <i class="material-icons">local_hospital</i>
                            Clinic Info
                          </ng-template>
                  </mat-tab>

                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon> insert_drive_file</mat-icon>
                        Other Info
                      </ng-template>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon mr-2">face</mat-icon>
                    Payment Information
                  </ng-template>
          </mat-tab>


                </mat-tab-group>
        </div>
          </div>
          </div>
          
      </section>
