<div class="auth-container">
    <div class="row auth-main">
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <div class="left-img" style="background-image: url(assets/images/pages/main.jpg);">
        </div>
      </div>
  

      <div class="col-sm-6 auth-form-section">
        <div class="form-section">
          <div class="auth-wrapper">
            <h2 class="welcome-msg">Sign Up </h2>
            <span class="error-subheader2 p-t-20 p-b-15">
                Please fill your details
            </span>
           
         
             
            

      
     

            <form  >
              <div class="otp--sec  ">
              
                  <mat-form-field appearance="fill" > 
                    <input #code1  matInput  maxlength="1">
                  </mat-form-field>
                  <mat-form-field appearance="fill" > 
                    <input #code2 matInput     maxlength="1">
                  </mat-form-field>
                  <mat-form-field appearance="fill" > 
                    <input #code3 matInput   maxlength="1">
                  </mat-form-field>
                  <mat-form-field appearance="fill" > 
                    <input #code4 matInput   maxlength="1">
                  </mat-form-field>
                  <mat-form-field appearance="fill" > 
                    <input #code5 matInput  maxlength="1">
                  </mat-form-field>
                  <mat-form-field appearance="fill" > 
                    <input #code6 matInput  maxlength="1">
                  </mat-form-field>
                    
                </div>
              </form>   
             
          </div>
        </div>
      </div>

  
    </div>
  </div>
  