<section class="content">
    <div class="container-fluid">
      <div class="block-header">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="breadcrumb breadcrumb-style ">
              <li class="breadcrumb-item">
                <h4 class="page-title">Notification</h4>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
      <!-- Widgets -->
    
      <div class="row" >
        <div class="col-lg-12">
            <div class="card">
              
              <div class="box-part text-center">
                <img  src="assets/images/pages/bell-icon.png" >

                  <div class="text p-b-10">
                      <h2>    No notifications right now!</h2>
                    <span>We'll notify you when something arrives!</span>
                  </div>
     
    
                  <button class="mr-3 start-btn"  mat-raised-button
                  color="primary"   routerLink="/admin/dashboard/main"> View Dashboard</button>

                
              </div>
            </div>
          </div>
      </div>
  
    
       
   
   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Notifications</h2>
          </div>
          <div class="body">
            <div class="table-responsive">
              <table class="table table-borderless">
                <tr>
                  <td> <div class="notice-body">
                    <h6 class="notice-heading color-primary ">Cancelled Appointment</h6>
                    <p>Booking ID: 458855</p>
                    <p class="comment-date">Your appointment with David on Wednesday 02/25/2021 at 7:30 pm was cancelled by the patient.</p>
                  </div></td>
                  <td class="text-right">
                    <h6 ><i class="far fa-trash-alt"></i></h6>
                    <p> 3 hrs ago </p>
                  </td>
                </tr>
                <tr>
                  <td> <div class="notice-body">
                    <h6 class="notice-heading color-primary ">Cancelled Appointment</h6>
                    <p>Booking ID: 458855</p>
                    <p class="comment-date">Your appointment with David on Wednesday 02/25/2021 at 7:30 pm was cancelled by the patient.</p>
                  </div></td>
                  <td class="text-right">
                    <h6 ><i class="far fa-trash-alt"></i></h6>
                    <p> 3 hrs ago </p>
                  </td>
                </tr>
                <tr>
                  <td> <div class="notice-body">
                    <h6 class="notice-heading color-primary ">Cancelled Appointment</h6>
                    <p>Booking ID: 458855</p>
                    <p class="comment-date">Your appointment with David on Wednesday 02/25/2021 at 7:30 pm was cancelled by the patient.</p>
                  </div></td>
                  <td class="text-right">
                    <h6 ><i class="far fa-trash-alt"></i></h6>
                    <p> 3 hrs ago </p>
                  </td>
                </tr>
          
              </table>
            </div>
          
          </div>
        </div>
      </div>

    </div>
  </section>
  